<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register_complainant</servlet-name>
        <servlet-class>za.ac.tut.web.Register_complainant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComplaintsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddComplaintsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteComplaintsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteComplaintsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditComplaintServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditComplaintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewComplaintServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewComplaintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteandUpdateServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteandUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllComplaintsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewAllComplaintsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResolveServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ResolveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseProgress</servlet-name>
        <servlet-class>za.ac.tut.web.ResponseProgress</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register_complainant</servlet-name>
        <url-pattern>/Register_complainant.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComplaintsServlet</servlet-name>
        <url-pattern>/AddComplaintsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteComplaintsServlet</servlet-name>
        <url-pattern>/DeleteComplaintsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditComplaintServlet</servlet-name>
        <url-pattern>/EditComplaintServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewComplaintServlet</servlet-name>
        <url-pattern>/ViewComplaintServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteandUpdateServlet</servlet-name>
        <url-pattern>/DeleteandUpdateServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllComplaintsServlet</servlet-name>
        <url-pattern>/ViewAllComplaintsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResolveServlet</servlet-name>
        <url-pattern>/ResolveServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseProgress</servlet-name>
        <url-pattern>/ResponseProgress.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
